streamlit
langchain
langchain-groq
langchain-community
langchain-text-splitters
validators
gtts
youtube-transcript-api
unstructured[pdf]
# The above line installs dependencies for UnstructuredURLLoader and PyPDFLoader
# If you run into issues, try installing the following instead:
# unstructured
# pypdf
# python-magic
